# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# Logs
logs/
*.log
logs/**/*.log

# Coverage / test outputs
coverage/
*.lcov

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
*.tmp
*.swp

# IDE / Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Lock files (optional, if you don't want to commit them)
# package-lock.json
# yarn.lock

# Backup files
*.bak
